html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.messages {
    height: 250px;
    border: 2px solid black;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#messagesList {
    list-style-type: none;
}

#messageInput {
    width: 100%;
}